* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 25px;
}

section.range-slider {
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 35px;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 200px;
    outline: none;
    height: 18px;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    background: linear-gradient(to bottom, #ededed 0%, #dedede 100%);
    width: 11px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, .15);
    border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}